PORT=5000
MONGO_URI=mongodb+srv://<user>:<password>@<cluster>/<dbName>?retryWrites=true&w=majority

# Required for login sessions (cookie-based)
SESSION_SECRET=535641a822bd664a5e11efa6593789ce06242efea2443057057ca8bf5803b7f1

# Microsoft OAuth (Azure App Registration)
# Set Redirect URI in Azure Portal to: http://localhost:5000/auth/microsoft/callback
MICROSOFT_CLIENT_ID=d389c386-fc6c-47af-8081-8c7857216633
MICROSOFT_CLIENT_SECRET=37947d69-f251-4c6d-84e1-c6e10ec5ff6d
MICROSOFT_TENANT_ID=0a0aa63d-82d0-4ba1-b909-d7986ece4c4c
MICROSOFT_REDIRECT_URL=http://localhost:5000/auth/microsoft/callback

